{% extends "fancy_admin/base.html" %}

{% block body_id %}admin-artists{% endblock %}

{% block body %}
<div id="filter">
	<form method="GET">
		<ul>{{ artist_form.as_ul }}</ul>
		<input type="submit" value="Search" />
	</form>
</div>

<div id="paginator">
	{{ paginator.count }} Matches
</div>

 <div id="page">
	<table>
		<thead>
			<tr>
				<th>Artist</th>
				<th>Rank</th>
				<th>M</th>
				<th>F</th>
				<th>T</th>
				<th>Last Month</th>
			</tr>
		</thead>
		<tbody>
		{% for info in artists %}
			<tr>
				<td><a href="{% url admin-artist-edit artist_id=info.artist.id_str %}">{{ info.artist.name }}</a></td>
				<td>{{ info.artist.rank|floatformat:"2" }}</td>
				<td>{% if info.profiles.myspace  %}X{% endif %}</td>
				<td>{% if info.profiles.facebook %}X{% endif %}</td>
				<td>{% if info.profiles.twitter  %}X{% endif %}</td>
				<td>{{ info.stats.last_30_days       }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
