html {
  font-family: 'Droid Sans Pro', 'Arial Rounded Bold', Arial;
  font-size:   12px;
  line-height: 1.3em;
  background-color: white;
  color:            black;
}

li {
  list-style: none;
}

/* Needed to give a default styling in IE */
header, hgroup, nav, section {
  display: block;
}

nav h1 {
  display: none;
}

a {
  color:   black;
  padding: 0.2em;
  line-height: 1.3em;
  margin-left: -0.2em;
  text-decoration: none;
}

a:hover {
  background-color: black;
  color:            white;
}

a.logout {
  display: none;
  margin-left: 1em;
}

body.logged_in a.logout {
  display: inline;
}

/* Page Header */
article > header {
  text-align:    center;
}

article > header h1 {
  padding: 0.5em;
}

/* Section Headers */
section {
  clear: both;
}

section > header {
  text-align:  left;
  height:      100%;
  padding-top: 3em;
  margin-bottom: 8px;
}

section > header h1 {
  background-color: black;
  color:     white;
  padding:   0.3em;
  font-size: 1.6em;
  line-height: 1.6em;
  display:   inline;
}


/* Wrapper */
.wrapper {
  margin-left:  auto;
  margin-right: auto;
  width:        650px;
  position:     relative;
  width: 970px;
}

/* Shows */
#shows {
  height:   100%;
  overflow: hidden;
}
.show-featured {
  float:         left;
  display:       block;
  margin:        14px;
  margin-bottom: 25px;
  margin-left:   0px;
  font-weight:   bold;
  position:      relative;
  background:    black;
  border-radius: 4px;  
  -moz-border-radius: 4px;
}

.show-featured > * {
  -webkit-transition: opacity 0.25s linear;
  -moz-transition:    opacity 0.25s linear;
  -o-transition:      opacity 0.25s linear;
}

.show-featured a {
  color: #f1f1f1;
}

.show-featured > div {
  width:    300px;
  height:   170px;
}

.show-featured .preview {
  border:   2px solid black;
  overflow: hidden;
  background-color: black;
  -moz-box-shadow:    inset 0px 0px 3px black;
  -webkit-box-shadow: inset 0px 0px 3px black;
  box-shadow:         inset 0px 0px 3px black;
  -moz-border-radius: 3px;
  border-radius:      3px;
}

.show-featured .summary {
  height: 100%;
}

.show-featured .summary h2 {
  position:    absolute;
  top:        0px;
  left:       0px;
  padding:    10px;
  margin:      0px;
  font-size:  18px;
  text-shadow: 1px 1px 3px black;
  width:       90%;
}

.show-featured .summary .venue {
 font-size: 13px;
 position:   absolute;
 right:      0px;
 bottom:     0px;
 width:      40%;
 padding:    10px;
 text-align: right;
 text-shadow: 1px 1px 3px black;
}

.show-featured .summary .with {
  color: #666;
  font-weight: normal;
  position: absolute;
  bottom:   -30px;
  left:     0px;
  padding:  10px;
  overflow: hidden;
  width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.single-date .show-featured .with {
  width: 280px;
}

.single-date .show-featured time {
  display: none;
}

.show-featured .summary time {
  position: absolute;
  bottom:   -20px;
  right:    0px;
  width:    70px;
  color: #666;
  font-weight: normal;
  padding-right: 12px;
  text-align: right;
}

.show-featured .summary .with li {
  display:     inline;
}

.show-featured .summary .with li:after {
  content: '\25cf';
}

.show-featured .summary .with li:last-child:after {
  content: '';
}

.show-featured .preview {
  border: 2px solid rgba(0, 0, 0, 1);
  -webkit-box-shadow: none;
}

.show-featured .preview a {
  display: block;
  width:   100%;
  height:  100%;
}

.show-featured .preview a:hover {
  background: none;
}

.show-featured .summary {
  color: white;
}

.show-featured .on {
  display: none;
}

/* Artist Lists */
#artists {
  clear:      both;
  text-align: center;
  margin-top: 20px;
}

#artists li {
  display: inline;
  width:   auto;
}

#artists li a {
  display: inline;
  width:   auto;
}

#artists li:after {
  content: ' / ';
}

#artists li:last-child:after {
  content: '';
}

/* Show Details */
.show-details h1 {
  text-align:  left;
  padding-left: 0;
  padding-top:  5px;
}

.show-details .address {
  text-align: left;
}

.artists h2 {
  border-bottom: 1px solid #666;
  padding-bottom: 0.25em;
}

.artist {
  display:    block;
  position:   relative;
  margin-bottom: 20px;
  height:        100%;
}

.artist .profiles li {
  display: inline;
  padding:  0.5em 1em;
  text-transform: uppercase;
}

.artist .start-time {
  position: absolute;
  right:    0px;
  top:      0px;
}

.artist .other-shows {
  padding-left: 1.1em;
  margin-top:   0.25em;
  text-transform: uppercase;
  clear: both;
}

.artist .other-shows li {
  display: inline;
}

.artist .other-shows li:after {
  content: '\25cf';
}

.artist .other-shows li:first-child:after,
.artist .other-shows li:last-child:after {
  content: '';
}

.artist .media {
  margin-left: 0.5em;
}

.artist .media iframe {
  margin:     0.5em;
  margin-top: 1em;
  float:      left;
}

#show {
  height:   100%;
  overflow: hidden
}

#show-info {
  position: relative;
}

#show-info .venue-details {
  position: absolute;
  top: 0;
  right: 300px;
  color: white;
}

#show-info .show-featured {
  float: none;
}

#show-info .venue-details {
  padding: 10px;
}

#show-info hr {
  width: 300px;
  margin: 0px auto;
}

#show-info {
  background-color: black;
  position: relative;
  height: 170px;
  color: white;
}

#show-info a {
  color: white;
}

#bands {
  position: absolute;
  top:   0px;
  left:  0px;
  width: 280px;
  height: 170px;
  padding-left: 8px;
  overflow: hidden;
}

#bands h1,
#venue h1 {
  color: white;
  line-height: 105%;
}

#show-image {
  position: absolute;
  top:  0px;
  left: 300px;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
}

#venue {
  position: absolute;
  top:    0px;
  right:  310px;
  width:  300px;
  height: 170px;
}

#venue h1 {
  margin-top: 10px;
}

#venue .address {
  margin-top: 5px;
}

#venue time {
  position: absolute;
  bottom:   10px;
  left:     10px;
}

#venue .details {
  position: absolute;
  bottom:   10px;
  right:    10px;
}

.show-detailed-link{
  height:  auto;
}

.show-detailed-link .summary,
.show-detailed-link h2,
.show-detailed-link ul {
  display: inline;
}

.show-detailed-link .venue {
  font-weight: normal;
}

.show-detailed-link .with li {
  display: inline;
}

.show-detailed-link .with {
  height:   1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other {
  margin: 0px auto;
}

#shows header h1 {
  display: inline;
  padding: 0.5em;
  color:   white;
  background-color: black;
}

#shows header {
  border: 0px;
  text-align: left;
}

#shows {
  margin-top:  20px;
  clear:       both;
}


/* Site Header */
#site-header {
  text-transform: uppercase;
  position:       relative;
  padding:        0px 8px;
}

#site-header hgroup {
  padding-top:    1em;
  padding-bottom: 4px;
  margin-bottom:  2px;
}

#site-header h1 {
  display:     inline;
  font-weight: normal;
  font-size:   1em;
}

#site-header h2 {
  display: none;
}

#site-header nav {
  position: absolute;
  right:    8px;
  bottom:   4px;
}

#site-header ul li {
  display: inline;
}

/* Suppress the Headers for the First Level of Filters */
.show-list > header:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.show-nav {
/*  display: none;*/
}

.show-nav h2 {
  font-weight: bold;
  font-size:   1em;
}

.show-nav {
  padding: 10px;
  height: 100%;
  overflow: hidden;
}

.show-nav div {
  float: left;
  width: 24%;
}

.show-nav ul {
  padding-left: 1em;
}

#shows {
  clear: both;
}

.show-details header {
  background-color: black;
  color: white;
  overflow: hidden;
}

.show-details header a {
  color: white;
}

.show-details header a:hover {
  background-color: white;
  color: black;
}

.show-details header > div {
  float:    left;
  position: relative;
  width:    300px;
  height:   100px;
  padding:  10px;
}

.show-details header time,
.show-details header .details {
  position: absolute;
  bottom:   10px;
  left:     10px;
}

/* Venue List */
.venue-list h2 {
  font-weight: bold;
  font-size:   1.4em;
  padding: 0.5em 0;
  margin-left: 10px;
}

.venue-list ul {
  margin-left: 30px;
}

.venue-list section {
  float: left;
  clear: none;
  width: 25%;
}

.sidebar {
  float: right;
  width: 280px;
  margin-top: 50px;
}

.show-list {
  float: left;
  width: 650px;
}

#content > header h1 {
  font-size:  3em;
  text-align: left;
  padding:    0.3em 0;
  line-height: 0.8em;
}

#content > header {
  text-transform: uppercase;
  position: relative;
  border-bottom: 0px;
  background-color: black;
  color: white;
  padding: 0px 8px;
}

#content > header nav {
  position: absolute;
  right:    8px;
  bottom:   8px;
}

#content > header a {
  color: white;
}

#content > header a:hover {
  background-color: white;
  color:            black;
}

.show-nav {
  border-bottom: 1px solid black;
}

.artists ul {
  margin-top: 10px;
}

#venue-map {
  width:      49%;
  height:     400px;
  margin-top: 60px;
  padding:    1px;
  border:     1px solid black;
}

.map-venue-name {
  font-weight: bold;
  font-size: 1.2em;
}

#show-details {
  width: 320px;
  float: left;
}

#artist-details {
  float:  left;
  width:  640px;
  clear:  none;
}

#artist-details > section header {
  padding-top: 14px;
}

#artist-details > section + section header {
  padding-top: 3em;
}

.map-venue-show {
  margin-top: 1em;
}

a.login {
  text-decoration: underline;
}

.show-featured a.save-show-action {
  -webkit-transition: opacity 0.25s linear;
  opacity: 0;
  position: absolute;
  top:   4px;
  right: 4px;
  font-size: 18px;
  text-shadow: 1px 1px 3px black;
}

.show-featured:hover a.save-show-action {
  opacity:  0.4;
}

.show-featured a.save-show-action:hover {
  opacity: 0.4;
  background: none;
  color: white;
}

.show-saved a.save-show-action {
  opacity: 1 !important;
}

#my-calendar li {
  height:   100%;
  overflow: hidden;
}

#my-calendar li * {
  padding:     0.2em;
  line-height: 1.3em;
  float:       left;
  display:     block;
}

#my-calendar li .date {
  width: 14%;
  clear: left;
}

#my-calendar li .sep {
  float:   left;
  display: block;
  padding: 0.2em;
  width:   4%;
}

#my-calendar li .show {
  float:   left;
  display: block;
  width:   65%;
}

#my-calendar li .remove-saved-show {
  visibility: hidden;
  width:   7%;
  text-align: center;
  color: #666;
}

#my-calendar li .remove-saved-show:hover {
  color:      black;
  background: none;
}

#my-calendar li:hover .remove-saved-show {
  visibility: visible;
}