html {
  background-color: white;
  color:            #444;
}

body {
  padding-top:    10px;
  padding-bottom: 3em;
  font-family: 'Droid Sans Pro', 'Arial Rounded Bold', Arial;
  font-size:   12px;
  line-height: 1.3;
}

li {
  list-style: none;
}

/* Needed to give a default styling in IE */
header, hgroup, nav, section {
  display: block;
}

a {
  color:   #444;
  text-decoration: none;
}

a:hover {
  background-color: #444;
  color:            white;
}

a.logout {
  display: none;
}

body.logged_in a.logout {
  display: inline;
}

body.logged_in a.login {
  display: none;
}

/* Page Header */
article > header {
  text-align:    center;
}

article > header h1 {
  padding: 0.5em;
}

/* Section Headers */
section {
  clear: both;
  height: 100%;
  overflow: hidden;
  margin-bottom: 2em;
}

section > header {
  text-align:  left;
  height:      100%;
  margin-bottom: 8px;
}

section > header h1 {
  padding:   0.3em 0;
  font-size: 1.6em;
  line-height: 1.6em;
}

/* Wrapper */
.wrapper {
  margin-left:  auto;
  margin-right: auto;
  position:     relative;
  width:        960px;
}

/* Shows */
.show-featured {
  display:       block;
  width:         300px;
  height:        170px;
  margin:        14px;
  margin-left:   0px;
  margin-bottom: 0px;
  font-size:     13px;
  font-weight:   bold;
  position:      relative;
  background:    black;
  text-shadow: 1px 1px 5px black;
  color: #f1f1f1;
  border: 2px solid black;
  border-radius: 4px;
}

.show-featured a {
  color: #f1f1f1;
}

.show-featured .preview {
  width:    100%;
  height:   100%;
  overflow: hidden;
  position: absolute;
  top:      0px;
  left:     0px;
  opacity:  0.9;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -webkit-transition: opacity 1s linear;
}

.show-featured .summary a {
  display: block;
  width:   100%;
  height:  100%;
  background: transparent;
}

.show-featured:hover .preview {
  opacity: 1;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.show-featured .summary {
  width:    100%;
  height:   100%;
  overflow: hidden;
  position: absolute;
  top:      0px;
  left:     0px;
}

.show-featured .summary h2 {
  padding:    10px;
  font-size:  18px;
}

.show-featured .summary .where-when {
  position:   absolute;
  right:      0px;
  bottom:     0px;
  padding:    10px;
  text-align: right;
  white-space: nowrap;
}

.show-featured .summary .with {
  position:      relative;
  top:          -20px;
  padding:       10px;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

.show-featured .summary .with li {
  display: inline;
}

.show-featured .summary .with li:after {
  content: '\25cf';
}

.show-featured .summary .with li:last-child:after {
  content: '';
}

.show-list .show-featured {
  float: left;
}

.show-list.venue-show-list .where-when .at,
.show-list.venue-show-list .where-when .venue {
  display: none;
}

.show-list.single-date-show-list .where-when .at,
.show-list.single-date-show-list .where-when .date {
  display: none;
}

#show-list {
  height: 100%;
  overflow: hidden;
  padding-bottom: 20px;
}

/* Artist Lists */
#artists {
  clear:      both;
  text-align: center;
  margin-top: 20px;
}

#artists li {
  display: inline;
  width:   auto;
}

#artists li a {
  display: inline;
  width:   auto;
}

#artists li:after {
  content: ' / ';
}

#artists li:last-child:after {
  content: '';
}

/* Show Details */
.show-details h1 {
  text-align:  left;
  padding-left: 0;
  padding-top:  5px;
}

.show-details .address {
  text-align: left;
}

.artists h2 {
  border-bottom: 1px solid #666;
  padding-bottom: 0.25em;
}

.artist {
  display:    block;
  position:   relative;
  margin-bottom: 20px;
  height:        100%;
}

.artist .profiles li {
  display: inline;
  padding:  0.5em 1em;
  text-transform: uppercase;
}

.artist .start-time {
  position: absolute;
  right:    0px;
  top:      0px;
}

.artist .other-shows {
  padding-left: 1.1em;
  margin-top:   0.25em;
  text-transform: uppercase;
  clear: both;
}

.artist .other-shows li {
  display: inline;
}

.artist .other-shows li:after {
  content: '\25cf';
}

.artist .other-shows li:first-child:after,
.artist .other-shows li:last-child:after {
  content: '';
}

.artist .media {
  margin-left: 0.5em;
}

.artist .media iframe {
  margin:     0.5em;
  margin-top: 1em;
  float:      left;
}

#show {
  height:   100%;
  overflow: hidden
}

#show-info {
  position: relative;
}

#show-info .venue-details {
  position: absolute;
  top: 0;
  right: 300px;
  color: white;
}

#show-info .show-featured {
  float: none;
}

#show-info .venue-details {
  padding: 10px;
}

#show-info hr {
  width: 300px;
  margin: 0px auto;
}

#show-info {
  background-color: black;
  position: relative;
  height: 170px;
  color: white;
}

#show-info a {
  color: white;
}

#bands {
  position: absolute;
  top:   0px;
  left:  0px;
  width: 280px;
  height: 170px;
  padding-left: 8px;
  overflow: hidden;
}

#bands h1,
#venue h1 {
  color: white;
  line-height: 105%;
}

#show-image {
  position: absolute;
  top:  0px;
  left: 300px;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
}

#venue {
  position: absolute;
  top:    0px;
  right:  310px;
  width:  300px;
  height: 170px;
}

#venue h1 {
  margin-top: 10px;
}

#venue .address {
  margin-top: 5px;
}

#venue time {
  position: absolute;
  bottom:   10px;
  left:     10px;
}

#venue .details {
  position: absolute;
  bottom:   10px;
  right:    10px;
}

.show-detailed-link{
  height:  auto;
}

.show-detailed-link .summary,
.show-detailed-link h2,
.show-detailed-link ul {
  display: inline;
}

.show-detailed-link .venue {
  font-weight: normal;
}

.show-detailed-link .with li {
  display: inline;
}

.show-detailed-link .with {
  height:   1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other {
  margin: 0px auto;
}

#shows header h1 {
  display: inline;
  padding: 0.5em;
  color:   white;
  background-color: black;
}

#shows header {
  border: 0px;
  text-align: left;
}

#shows {
  margin-top:  20px;
  clear:       both;
}

/* Site Header */
#site-header {
  text-transform: uppercase;
  position: relative;
}

#site-header h1 {
  display:     inline;
  font-weight: normal;
  font-size:   1em;
}

#site-nav {
  text-transform: uppercase;
  margin-left: 4em;
  text-align: right;
  padding-right: 25px;
  position: absolute;
  top: 0;
/*  bottom:   -46px;*/
  right:    0px;
  z-index:  2;
}

#site-nav a {
  color: #444;
  text-decoration: none;
}

#site-nav a:hover {
  color: white;
  background-color: #444;
}

/* Suppress the Headers for the First Level of Filters */
.show-list > header:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.show-nav h2 {
  font-weight: bold;
  font-size:   1em;
}

.show-nav {
  height:   100%;
  overflow: hidden;
  position: relative;
}

.show-nav .anywhere {
  position: absolute;
  bottom:   0;
  right:    0;
}

.show-nav div {
  float: left;
  width: 32%;
}

#shows {
  clear: both;
}

.show-details header {
  background-color: black;
  color: white;
  overflow: hidden;
}

.show-details header a {
  color: white;
}

.show-details header a:hover {
  background-color: white;
  color: black;
}

.show-details header > div {
  float:    left;
  position: relative;
  width:    300px;
  height:   100px;
  padding:  10px;
}

.show-details header time,
.show-details header .details {
  position: absolute;
  bottom:   10px;
  left:     10px;
}

/* Venue List */
.venue-list h2 {
  font-weight: bold;
  font-size:   1.2em;
  padding: 0.5em 0;
  margin-left: 10px;
}

.venue-list ul {
  margin-left: 30px;
}

.venue-list section {
  float: left;
  clear: none;
  width: 25%;
}

#content-header {
  text-transform: uppercase;
  position: relative;
  border-bottom: 0px;
  margin-top:    2em;
  margin-bottom: 2em;
}

#content-header h1 {
  font-size:  3em;
  text-align: left;
  padding:    0.3em 0;
  line-height: 1em;
  display:    block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#content-nav {
  color: #666;
  text-transform: uppercase;
  display: block;
  width:   70%;
  padding: 0 1em;
  z-index: 2;
  margin-top: -2em;
  margin-bottom: 3em;
}

#content-nav a {
  color: #666;
  text-decoration: none;
}

#content-nav a:hover {
  color: white;
  background-color: #666;
}

.artists ul {
  margin-top: 10px;
}

#venue-map {
  width:      49%;
  height:     400px;
  margin-top: 80px;
}

.map-venue-name {
  font-weight: bold;
}

#show-details {
  width: 330px;
  float: left;
}

#artist-details {
  float:  left;
  width:  630px;
  clear:  none;
}

#artist-details > section header {
  padding-top: 14px;
}

#artist-details > section + section header {
  padding-top: 3em;
}

.map-venue-show {
  margin-top: 1em;
}

a.login {
  text-decoration: underline;
}

.show-featured a.save-show-action {
  -webkit-transition: opacity 0.25s linear;
  opacity: 0;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  width: auto;
  height: auto;
  top:   4px;
  right: 4px;
  font-size: 18px;
}

.show-featured:hover a.save-show-action {
  opacity:  0.6;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.show-featured a.save-show-action:hover {
  opacity: 0.8;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  color: white;
}

.show-saved a.save-show-action {
  opacity: 1 !important;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
}

#my-calendar li {
  height:   100%;
  overflow: hidden;
}

#my-calendar li * {
  padding:     0.2em;
  line-height: 1.3em;
  float:       left;
  display:     block;
}

#my-calendar li .date {
  width: 14%;
  clear: left;
}

#my-calendar li .sep {
  float:   left;
  display: block;
  padding: 0.2em;
  width:   4%;
}

#my-calendar li .show {
  float:   left;
  display: block;
  width:   65%;
}

#my-calendar li .remove-saved-show {
  visibility: hidden;
  width:   7%;
  text-align: center;
  color: #666;
}

#my-calendar li .remove-saved-show:hover {
  color:      black;
  background: none;
}

#my-calendar li:hover .remove-saved-show {
  visibility: visible;
}

.map {
  width:  250px;
  height: 150px;
  border: 1px solid #999;
}

#venue-details .map {
  width:  300px;
  height: 180px;
}

#venue-details address a {
  display: none;
}

.empty {
  padding-left: 2em;
}

/* To Ditch */
.sidebar {
  display: none;
}

#site-nav .upcoming-shows {
  background-color: #444; 
  color: white;
  padding: 0px 3px;
  border-radius: 3px;
}

dt {
  width: 25%;
  float: left;
  clear: left;
}

dd {
  width: 75%;
  float: left;
}

#foo {
  margin-top: 40px;
  position: relative;
}

#foo span {
  font-size: 1.5em;
  width:   15%;
  display: inline-block;
  text-align: center;
}

#search {
  position: absolute;
  top: 0;
  right: 0;
}

#foo .current {
  background-color: #c1c1c1;
}

#time,
#location {
  color: white;
  background-color: #444;
  border-radius: 20px;
  padding: 10px;
}

#site-header {
  margin-bottom: 20px;
}

#site-header h1 {
  font-weight: bold;
}

#site-header h1,
#site-header h2 {
  display: inline;
}

body {

}

.label {
  font-size: 14px;
  color: #ccc;
  text-align: left;
  display: none;
}

.part {
  float: left;
  text-align: left;
  padding: 0.25em;
  padding-left: 0;
}

.message {
  padding-top: 1em;
  padding-left: 1em;
  text-transform: uppercase;
}