<div>
	<h2>When:</h2>
	<ul>
	{% for choice in days %}<li{% if choice.classes %} class="{{ choice.classes }}"{% endif %}><a href="{{ choice.url }}">{{ choice.label }}</a></li>{% endfor %}
	</ul>	
</div>

<div>
	<h2>Where</h2>
	<ul>
		<li><a href="{{ show_context.anywhere_url }}">Anywhere</a></li>
		<li><a href="{% url venues %}">At a Particular Venue</a></li>
	</ul>
</div>

{% for city in cities %}
<div>
	<h2><a href="{{ city.set_url }}">{{ city.name }}:</a></h2>
  <ul>
  {% for neighborhood in city.neighborhoods %}
    <li><a href="{{ neighborhood.set_url }}">{{ neighborhood.name }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endfor %}