{% load show_util %}

<div class="show show-featured{% if show_saved %} show-saved{% endif %}" data-show-id="{{ show.id }}">
		<div class="preview"{% if show.images.featured.url %} style="background-image: url('{{ show.images.featured.url }}');"{% endif %}>			<a href="{% show_url show %}"></a></div>
		<div class="summary">
			<a href="{% show_url show %}">
			<h2>{% singleline %}{% if show.title %}
		     {{ show.title }}
		   {% else %}
		     {{ show.artists.0.name }}
		   {% endif %}
		  {% endsingleline %}</h2>
		
			<a href="#" class="save-show-action">&#9733;</a>

		  {% if show.artists|length > 1 %}
			<ul class="with">
				{% spaceless %}
				{% for a in show.artists %}
					{% if not forloop.first %}
					  {% singleline %}
					  <li{% if p.headliner %} class="headliner"{% endif %}>

		          {% if forloop.counter == 2 %}
		          w/
		          {% endif %}
					    {{ a.name }}
					  </li>
						{% endsingleline %}
					{% endif %}
				{% endfor %}
				{% endspaceless %}
			</ul>
			{% endif %}

			<span class="venue">{{ show.venue.name }}</span>
			<span class="on">on</span>
			<time datetime="{{ show.date|date:"F" }}">{{ show.date|date:"D, M d" }}</time>
			</a>
		</div>
</div>