<!DOCTYPE html>

{% load humanize %}
{% load show_util %}

<html lang="en">
  <head>
	{% block head %}
    <title>{% singleline %}
			  {% block title %}{{ SITE_NAME }} - {{ SITE_TAGLINE }}{% endblock %}
		{% endsingleline %}</title>

		<meta charset="utf-8">

    <link rel="stylesheet" href="{% css_url "styles.css" %}" type="text/css" />
		<!--[if IE]>
    <link rel="stylesheet" href="{% css_url "ie-fixups.css" %}" type="text/css" />
		<![endif]-->
    <script type="text/javascript" src="{% js_url "modernizr-1.6.min.js"   %}"></script>
    <script type="text/javascript" src="{% js_url "jquery-1.4.2.min.js"    %}"></script>
    <script type="text/javascript" src="{% js_url "jquery.scrollTo-min.js" %}"></script>
    <script type="text/javascript" src="{% js_url "jquery.textshadow.js"   %}"></script>
    <script type="text/javascript" src="{% js_url "jquery-columnize.js"    %}"></script>
    <script type="text/javascript" src="{% js_url "fancypants.js"          %}"></script>
		<script type="text/javascript">
		$(document).ready(function() {
      var ui = new Fancy.UI();

	    ui.init();
	  });
		</script>
	{% endblock %}
  </head>
  <body>
	  <header>
		  <hgroup class="wrapper">
			  <h1><a href="{% url root %}">{{ SITE_NAME }}</a></h1>
				<h2>{{ SITE_TAGLINE }}</h2>
			</hgroup>
		</header>
		{% block nav %}{% endblock %}

  	{% block content %}{% endblock %}

		{%if GOOGLE_ANALYTICS_ACCOUNT %}
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
		{% endif %}
  </body>
</html>