<!DOCTYPE html>


{% load humanize %}
{% load show_util %}

<html lang="en">
  <head>
	{% block head %}
    <title>{% singleline %}
			  {% block title %}{{ SITE_NAME }} - {{ SITE_TAGLINE }}{% endblock %}
		{% endsingleline %}</title>

		<meta charset="utf-8">
    <link rel="stylesheet" href="{% css_url "reset.css" %}"  type="text/css" />
    <link rel="stylesheet" href="{% css_url "styles.css" %}" type="text/css" />
		<!--[if IE]>
    <link rel="stylesheet" href="{% css_url "ie-fixups.css" %}" type="text/css" />
		<![endif]-->
    <script type="text/javascript" src="{% js_url "modernizr-1.6.min.js"   %}"></script>
    <script type="text/javascript" src="{% js_url "jquery-1.4.2.min.js"    %}"></script>
    <script type="text/javascript" src="{% js_url "underscore.js"          %}"></script>
    <script type="text/javascript" src="{% js_url "backbone.js"            %}"></script>
    <script type="text/javascript" src="{% js_url "jquery.textshadow.js"   %}"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript" src="{% js_url "fancypants.js"          %}"></script>
		<script type="text/javascript">
		$(function() {
			var conf = {
				facebookAppId: '174609829242619',
				shows:         {% block shows_json %}[]{% endblock %},
				visitor:       {% visitor_info_json request %}
			};
      new Fancy.UI(conf);
	  });
		</script>
	{% endblock %}
  </head>
  <body id="all">
		<div id="fb-root"></div>
	  <div class="wrapper">
		  <header id="site-header">
			  <hgroup>
				  <h1>{% block header_title %}<a href="{% url root %}">{{ SITE_NAME }}</a>{% endblock %}</h1>
				</hgroup>

				<nav>
				{% block nav %}
				  <a href="{% url root %}">Shows</a>
					<a href="{% url venues %}">Venues</a>
					<a href="#logout" class="logout">Logout</a>
				{% endblock %}
				</nav>
			</header>
			
			{% block content_wrapper %}
			<article id="content">
				<header>
					<h1>{% block content_title %}{% endblock %}</h1>
					{% block content_post_title %}{% endblock %}
				</header>
		  	{% block content %}{% endblock %}
			</article>
			{% endblock %}


		{%if GOOGLE_ANALYTICS_ACCOUNT %}
			<script type="text/javascript">
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			</script>
		{% endif %}
		</div>
		<script id="my-calendar-template" type="text/template">
			<header>
				<h1>My Calendar</h1>
			</header>
      <% if(logged_in) { %>
        <%= message %>
        <ol></ol>
      <% } else { %>
        Please <a href="#" class="login">login</a> to access your calendar.
      <% } %>
		</script>
		<script id="saved-show-template" type="text/template">
      <span class="date"><%= date %></span>
      <span class="sep">-</span>
			<a href="<%= url %>" class="show"><%= title %></a> <a href="#" class="remove-saved-show">x</a>
		</script>
  </body>
</html>
