{% extends "fancy_main/show_base.html" %}

{% load show_util %}

{% block title %}
  {% show_list_title show_context %}
{% endblock %}

{% block show_context %}
  {{ show_context.toJSON }}
{% endblock %}

{% block shows_json %}
  {% show_list_json request shows %}
{% endblock %}

{% block show_list %}
		
<nav id="content-nav" class="show-nav">
	{% show_list_nav show_context %}
</nav>

<article id="show-list" class="show-list{% if not show_context.multiday %} single-date-show-list{% endif %}">	
	<section>
		<header>
		  <h1>Featured Shows</h1>
		</header>
		
		{% if shows %}
		<ul>
			{% for show in shows %}
			{% if forloop.counter0 < 6 %}
			  <li>{% show_featured_listing show saved_shows %}</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% else %}
		  <p class="empty">Looks like we're in the dark here. :(</p>
		{% endif %}
	</section>
	
	<section>
		<header>
		  <h1>Lineup</h1>
		</header>
		
		{% if shows %}
		<ul{% if not show_context.multiday %} class="single-date"{% endif %}>
			{% for show in shows %}
				{% if forloop.counter0 > 4 %}
			  <li>{% show_featured_listing show saved_shows %}</li>
				{% endif %}
			{% endfor %}
		</ul>
		{% else %}
		  <p class="empty">Looks like we're in the dark here. :(</p>
		{% endif %}
	</section>

	<section id="artists" style="display: none;">
		<header>
		  <h1>
				Artists
			</h1>
		</header>
		<ul>
		{% for info in artists %}
			<li><a href="{% show_url info.shows.0 %}">{{ info.artist.name }}</a></li>
		{% endfor %}
		</ul>
	</section>
</article>
{% endblock %}
