{% extends "fancy_main/show_base.html" %}

{% load show_util %}

{% block title %}
  {% show_list_title show_context %}
{% endblock %}

{% block show_context %}
  {{ show_context.toJSON }}
{% endblock %}

{% block shows_json %}
	{% show_list_json request shows_by_date %}
{% endblock %}

{% block show_list %}
<nav id="content-nav">
	Venues Near By:
	{% for v in other_venues %}
    <a href="{% url shows-at-venue v.slug %}">{{ v.name }}</a>{% if not forloop.last %},{% endif %}
	{% endfor %}
</nav>

<article id="show-list" class="show-list venue-show-list">	
	<section>
		<header>
		  <h1>Featured Shows</h1>
		</header>
	
		{% if	shows_by_rank %}
		<ul>
			{% for show in shows_by_rank %}
			  {% if forloop.counter0 < 6 %}
			  <li>{% show_featured_listing show saved_shows %}</li>
			  {% endif %}
			{% endfor %}
		</ul>
		{% else %}
		  <p class="empty">Looks like we're in the dark here. :(</p>
		{% endif %}
	</section>
	
	<section>
		<header>
		  <h1>Calendar</h1>
		</header>
	
		{% if shows_by_date %}
		<ul{% if show_context.multiday %}class=""{% endif %}>
			{% for show in shows_by_date %}
			  <li>{% show_featured_listing show saved_shows %}</li>
			{% endfor %}
		</ul>
		{% else %}
		  <p class="empty">Looks like we're in the dark here. :(</p>
		{% endif %}
	</section>
</article>
{% endblock %}
