{% extends "fancy_main/root.html" %}

{% load show_util %}

{% block head %}
  {{ block.super }}

	<meta name="description" content="{% attribute %}
		{{ show.date|date:"D, M d" }} at {{ show.venue.name }}: 

		{% if show.title %}
		   {{ show.title }}
		 {% else %}
		   {{ show.artists.0.name }}
		 {% endif %}

		{% for a in show.artists %}
			{% if not forloop.first %}
		      {% if forloop.counter == 2 %}
		        with
		      {% endif %}
			    {{ a.name }}{% if not forloop.last %}, {% endif %}
			{% endif %}
		{% endfor %}
	{% endattribute %}" />

{% endblock %}

{% block title %}
	{% if show.title %}
	   {{ show.title }}
	 {% else %}
	   {{ show.artists.0.name }}
	 {% endif %}
	  at {{ show.venue.name }}

		- {{ show.date|date:"D, M d" }}
{% endblock %}

{% block content_title %}
	{% if show.title %}
	   {{ show.title }}
	 {% else %}
	   {{ show.artists.0.name }}
	 {% endif %}
	  at {{ show.venue.name }}
{% endblock %}

{% block content %}

<section id="show-details">
	{% show_featured_listing show %}
	<section>
		<header>
	   <h1>{{ venue.name }}</h1>
		</header>

	   <div class="address">
	   <a href="http://maps.google.com/?q={{ venue.address }}">{{ venue.address }}</a>
		 </div>

	   <div class="time">
		   <time datetime="{{ show.date|date:"F" }}">
		   {% if show.show_time and show.door_time %}
		       Doors: {{ show.door_time|date:"P" }}, Show: {{ show.show_time|date:"P" }}
		   {% else %}
		     {% if show.show_time %}Show: {{ show.show_time|date:"P" }}{% endif %}
		     {% if show.door_time %}Door: {{ show.door_time|date:"P" }}{% endif %}
		   {% endif %}
		   </time>
	   </div>

	   {% if show.url %}
	   <div>
	     <a href="{{ show.url }}">Details on Site</a>
	   </div>
	   {% endif %}
	</section>
</section>

<section id="artist-details">
   {% for artist in artists %}
		<section class="artist">
		<header>
      <h1>{{ artist.info.name }}
		  {% if artist.info.start_time %}
	  	@ {{ artist.info.start_time }}
  		{% endif %}
			</h1>
		</header>

    {% if artist.artist %}
       <ul class="profiles">
       {% for profile in artist.artist.profiles %}
         <li><a href="{{ profile.url }}">{{ profile.system_id }}</a></li>
       {% endfor %}
       </ul>

        <div class="media">
        {% if artist.artist.videos %}
				 	{% artist_video artist.artist %}
        {% endif %}
       </div>
      {% endif %}

      {% if artist.shows %}
      <ul class="other-shows">
        <li>Also Playing:</li>
        {% for show in artist.shows %}
	        {% if forloop.counter0 < 3 %}
        <li><a href="{% show_url show %}">{{ show.venue.name }} on {{ show.date|date:"D, M d" }}</a></li>
					{% endif %}
        {% endfor %}
      </ul>
    {% endif %}
		</section>
 {% endfor %}
</section>

{% endblock %}
