{% extends "fancy_main/show_base.html" %}

{% load show_util %}

{% block title %}
  {% show_list_title show_context %}
{% endblock %}

{% block head %}
  {{ block.super }}

	<meta name="description" content="{% attribute %}
		{% show_list_title show_context %}:

  {% for show in shows %}
    {% if forloop.counter < 6 %}
      {% if show.title %}
        {{ show.title }}
      {% else %}
        {{ show.artists.0.name }}
      {% endif %}

      at {{ show.venue.name }}{% if forloop.counter != 5 %}, {% endif %}
    {% endif %}
  {% endfor %}
	{% endattribute %}" />
{% endblock %}

{% block content_post_title %}
<nav>
	{% if prev_venue %}
    <a href="{% url shows-at-venue prev_venue.slug %}">&lt; {{ prev_venue.name }}</a>
	{% endif %}
	
	{% if next_venue %}
     <a href="{% url shows-at-venue next_venue.slug %}">{{ next_venue.name }} &gt;</a>
  {% endif %}
</nav>
{% endblock %}

{% block show_list %}
<article class="show-list">	
	<section>
		<header>
		  <h1>Featured Shows</h1>
		</header>
	
		{% if	shows_by_rank %}
		<ul>
			{% for show in shows_by_rank %}
			  {% if forloop.counter0 < 6 %}
			  <li>{% show_featured_listing show %}</li>
			  {% endif %}
			{% endfor %}
		</ul>
		{% else %}
		  Looks like we're in the dark here. :(
		{% endif %}
	</section>
	
	<section>
		<header>
		  <h1>Calendar</h1>
		</header>
	
		{% if shows_by_date %}
		<ul{% if show_context.multiday %}class=""{% endif %}>
			{% for show in shows_by_date %}
			  <li>{% show_featured_listing show %}</li>
			{% endfor %}
		</ul>
		{% else %}
		  Looks like we're in the dark here. :(
		{% endif %}
	</section>
</article>
{% endblock %}
