{% extends "fancy_main/root.html" %}

{% load show_util %}

{% block head %}
  {{ block.super }}

	<meta name="description" content="{% attribute %}
		{{ show.date|date:"D, M d" }} at {{ show.venue.name }}: 

		{% if show.title %}
		   {{ show.title }}
		 {% else %}
		   {{ show.artists.0.name }}
		 {% endif %}

		{% for a in show.artists %}
			{% if not forloop.first %}
		      {% if forloop.counter == 2 %}
		        with
		      {% endif %}
			    {{ a.name }}{% if not forloop.last %}, {% endif %}
			{% endif %}
		{% endfor %}
	{% endattribute %}" />

{% endblock %}

{% block title %}
	{% if show.title %}
	   {{ show.title }}
	 {% else %}
	   {{ show.artists.0.name }}
	 {% endif %}
	  at {{ show.venue.name }}

		- {{ show.date|date:"D, M d" }}
{% endblock %}

{% block content_title %}
	{% if show.title %}
	   {{ show.title }}
	 {% else %}
	   {{ show.artists.0.name }}
	 {% endif %}
	  at {{ show.venue.name }}
{% endblock %}

{% block shows_json %}
  {% show_list_json request shows %}
{% endblock %}

{% block content %}
<section id="show-details">
  <section>
	{% show_featured_listing show saved_shows %}
	</section>
	
	<section>
	  <header>
	    <h1>Details</h1>
    </header>
    
    <dl>
      {% if show.door_time %}
      <dt>Door Time:</dt>
      <dd>{{ show.door_time|date:"P" }}</dd>
      {% endif %}

      {% if show.show_time %}
      <dt>Show Time:</dt>
      <dd>{{ show.show_time|date:"P" }}</dd>
      {% endif %}
      
      <dt>Venue:</dt>
      <dd><a href="{{ venue.url }}">{{ venue.name }}</a></dd>
      
      <dt>Address:</dt>
      <dd><address><a href="http://maps.google.com/?q={{ venue.address }}">{{ venue.address }}</a></address></dd>

      {% if show.url %}
      <dt>More Info:</dt>
      <dd><a href="{{ show.url }}">Details on Site</a></dd>
      {% endif %}
    </dl>
	  
  </section>

	<section id="venue-details">
		<header>
	   <h1>{{ venue.name }}</h1>
		</header>
		
		<div data-address-title="{{ venue.name }}" data-address-lat="{{ venue.location.0 }}" data-address-lng="{{ venue.location.1 }}" data-address-address="{{ venue.address }}" class="fancy-address"></div>
	</section>
</section>

<section id="artist-details">
   {% for artist in artists %}
		<section class="artist">
		<header>
      <h1>{{ artist.info.name }}
		  {% if artist.info.start_time %}
	  	@ {{ artist.info.start_time }}
  		{% endif %}
			</h1>
		</header>

    {% if artist.artist %}
       <ul class="profiles">
       {% for profile in artist.artist.profiles %}
         <li><a href="{{ profile.url }}">{{ profile.system_id }}</a></li>
       {% endfor %}
       </ul>

        <div class="media">
        {% if artist.artist.videos %}
				 	{% artist_video artist.artist %}
        {% endif %}
       </div>
      {% endif %}

      {% if artist.shows %}
      <ul class="other-shows">
        <li>Also Playing:</li>
        {% for show in artist.shows %}
	        {% if forloop.counter0 < 3 %}
        <li><a href="{% show_url show %}">{{ show.venue.name }} on {{ show.date|date:"D, M d" }}</a></li>
					{% endif %}
        {% endfor %}
      </ul>
    {% endif %}
		</section>
 {% endfor %}
</section>

<script type="text/javascript">
$(document).ready(function() {
	var styles       = [{stylers: [{saturation: -80}]}];

	var fancyMapType = new google.maps.StyledMapType(styles, {name: 'FancyMapType'});

	var mapOptions = {
    zoom: 12,
    mapTypeId: 'FancyMapType',
		mapTypeControl: false
  };
 
	var map = new google.maps.Map(document.getElementById("venue-address"), mapOptions);

	map.mapTypes.set('FancyMapType', fancyMapType);
	
	var infoWindow = new google.maps.InfoWindow({});
			
	var marker = new google.maps.Marker({
     map:      map, 
     position: new google.maps.LatLng({{ venue.location.0 }}, {{ venue.location.1 }}),
		 title:    '{{ venue.name }}'
   });

	 map.setCenter(new google.maps.LatLng({{ venue.location.0 }}, {{ venue.location.1 }}));
});
</script>

{% endblock %}
