{% extends "fancy_main/root.html" %}

{% load show_util %}

{% block title %}
  {% show_list_title show_context %}
{% endblock %}

{% block head %}
  {{ block.super }}

	<meta name="description" content="{% attribute %}
		{% show_list_title show_context %}:

  {% for show in shows %}
    {% if forloop.counter < 6 %}
      {% if show.title %}
        {{ show.title }}
      {% else %}
        {{ show.artists.0.name }}
      {% endif %}

      at {{ show.venue.name }}{% if forloop.counter != 5 %}, {% endif %}
    {% endif %}
  {% endfor %}
	{% endattribute %}" />
{% endblock %}

{% block content %}
<article class="show-list">
	<header>
		<h1>{% show_list_title show_context %}</h1>
	</header>
	
	<nav>
		{% show_list_nav show_context %}
	</nav>
	
	<section id="shows">
		<header>
		  <h1>Shows</h1>
		</header>
		
		{% if shows %}
		<ul{% if not show_contex.multiday %} class="single-date"{% endif %}>
			{% for show in shows %}
			  <li>{% show_featured_listing show %}</li>
			{% endfor %}
		</ul>
		{% else %}
		  Looks like we're in the dark here. :(
		{% endif %}
	</section>

	<section id="artists">
		<header>
		  <h1>
				Artists
			</h1>
		</header>
		<ul>
		{% for info in artists %}
			<li><a href="{% show_url info.shows.0 %}">{{ info.artist.name }}</a></li>
		{% endfor %}
		</ul>
	</section>
</article>
{% endblock %}