{% extends "fancy_main/root.html" %}

{% load show_util %}

{% block title %}
  Venues
{% endblock %}

{% block content %}
<article class="venue-list">
	<header>
		<h1>Venues</h1>
	</header>

  {% for city_info in cities %}
	<section>
		<header>
		  <h1>{{ city_info.city.name }}</h1>
		</header>
    {% for neighborhood_info in city_info.neighborhoods %}
      <h2>{{ neighborhood_info.neighborhood.name }}</h2>
        <ul>
      {% for venue in neighborhood_info.venues %}
          <li>
            <a href="{% url shows-at-venue venue.slug %}">{{ venue.name }}</a>
          </li>
      {% endfor %}
        </ul>
    {% endfor %}
  </section>
  {% endfor %}
</article>

{% endblock %}
